<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
		th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Home page</title>
</head>
<body>
	<section class="banner d-flex justify-content-center align-items-center">
		<div class="text-center">
			<h1 class="font-weight-bold">Welcome!! In Smart Contact Manager</h1>
			<p>We are building Smart Contact Manager project</p>
			<h1>Start By Signup?...</h1>
			<!-- <a class="btn btn-primary btn-lg text-white" th:href="@{/signup}">Get Start</a>	 -->
		</div>
	</section>
</body>
</html>